<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
    <style> table { border-collapse: collapse; } td, th { border: 1px solid black; padding: 8px; } </style>
</head>
<body>
<h1>Наши клиенты</h1>

<form th:action="@{/logout}" method="post" style="margin-bottom: 20px;">
    <input type="submit" value="Выйти из системы" style="padding: 8px 16px; background-color: #f44336; color: white; border: none; border-radius: 4px; cursor: pointer;"/>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Email</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.fullName}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>